# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Pipfile.lock
/yarn.lock
/node_modules/
/react-tracks-client/node_modules
